@model List<ZiyaretciDefteri.Models.MessageModel>

<h3 style="align: center;">Ziyaretçi Defteri</h3>

<form asp-controller="home" asp-action="contact" method="post">
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card-body" style="max-width: 18rem; border-radius: 15px; background-color: #e0f7fa;">
        <input style="margin-left:10px;margin-top:100px" type="text" name="name" placeholder="Ad" />
        <input style="margin-left:10px;margin-top:20px" type="email" name="email" placeholder="Email" />
        <textarea style="width:177px;height:200px;margin-left:10px;margin-top:20px" name="message" placeholder="Mesaj"></textarea>
        <button style="margin-left:70px;margin-top:50px" type="submit">Gönder</button>
    </div>
</div>
</form>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 style="text-align: center;">Mesajlar</h3>
			<table class="table table-bordered table-striped table-hover mt-4">
				<thead class="table-primary text-center">
					<tr>
						<th>Ad</th>
						<th>Email</th>
						<th>Mesaj</th>
					</tr>
				</thead>
				
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Name</td>
							<td>@item.Email</td>
							<td>@item.Message</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
